.vs
.vs/YgoPro CardManager/v15/.suo
.vs/YgoPro CardManager/v15/.suo
.vs/YgoPro CardManager/v15/Server/sqlite3/db.lock
.vs/YgoPro CardManager/v15/.suo
.vs/YgoPro CardManager/v15/Server/sqlite3/storage.ide
.vs/YgoPro CardManager/v15/Server/sqlite3/storage.ide-shm
.vs/YgoPro CardManager/v15/Server/sqlite3/storage.ide-wal
.vs/YgoPro CardManager/v15/Solution.VC.db
